<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, inital-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <w205-webapp>Loading ...</w205-webapp>

    <script src="/js/app/bundle.js"></script>
</body>
</html>
